@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Questrial:400);

/*-------------------------
	Simple reset
--------------------------*/

*{
	margin:0;
	padding:0;
}

/*-------------------------
	General styles
--------------------------*/

html, body{
	font:13px/1.35 'Montserrat', sans-serif;
}

/*-------------------------
	WebGL earth - globe
--------------------------*/

#earth_div{
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute !important;
	z-index: 1;
}

/*-------------------------
	Side menu
--------------------------*/

#side-menu{
	background: #107fc9;
	background-image: url('/img/driveshare_bg.jpg');
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
	position: fixed;
	z-index: 2;
	left: -315px;
	top: 0;
	border-radius: 3px;
	width: 315px;
	height: 100%;
	transition:left 0.4s;
}

#side-menu h2{
	color:  #fefefe;
	font-size: 24px;
	line-height: 1;
	text-align: center;
	padding-bottom: 20px;
}

#side-menu img {
	padding: 33px 0 0 109px;
}

/* Entries */


.entry{
	list-style: none;
	background-color:  #2c2f34;
	height: 55px;
	color:  #ffffff;
	font-size: 14px;
	line-height: 55px;
	margin-top: 5px;
	z-index: 3;
	cursor: pointer;
}

.countryName, .count{
	position: relative;
	z-index: 5;
	padding: 0 25px;
}

.countryName{
	float:left;
	width: 180px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.count{
	float:right;
}


.entry .color-effect{
	content: '';
	background-color:  #25c19e;
	position: absolute;
	left:-323px;
	transition:left 0.4s;
	width: 326px;
	height: 55px;
	z-index: 4;
	display: none;
}

body.open #side-menu ul .entry .color-effect{
	display: block;
}

.entry:hover .color-effect{
	left:-2px;
}

/* No members message */


#no-members{
	display: none;
	color:  #fefefe;
	position: absolute;
	bottom:50%;
	text-align: center;
}


/* Summary */


.summary{
	color:  #ffffff;
	font-size: 14px;
	text-align: center;
	position: absolute;
	bottom:0;
	width: 100%;
	height: 100px;
	line-height: 100px;
}

.summary span{
	color: #d0d0d0;
}

/*---------------------------
	Side menu toggle button
----------------------------*/

#open-side-menu{
	width: 38px;
	height: 38px;
	top: 35px;
	position: absolute;
	right: -72px;
	cursor: pointer;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	background-color:  rgb(8, 122, 192);
	border-radius: 0;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
	/*You just need this if you are only concerned with android and not desktop browsers.*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body.open #open-side-menu {
	border-radius: 50%;
	background-color: rgb(8, 122, 192);
}

#animate-cross {
	transition: 0.1s;
	-webkit-transition: 0.2s;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	background-color: #ffffff;
	width: 17px;
	height: 2px;
	position: relative;
	margin: 18px auto;
}

body.open #animate-cross {
	background-color: transparent;
}

#animate-cross:before {
	content: '';
	transition: 0.2s;
	-webkit-transition: 0.2s;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	position: absolute;
	background-color: #ffffff;
	width: 17px;
	height: 2px;
	top: -7px;
	left: 0;
}

body.open #animate-cross:before {
	width: 15px;
	height: 3px;
	top: 0;
	left: 1px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

#animate-cross:after {
	content: '';
	transition: 0.2s;
	-webkit-transition: 0.2s;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	position: absolute;
	background-color: #ffffff;
	width: 17px;
	height: 2px;
	top: 7px;
	left: 0;
}

body.open #animate-cross:after {
	width: 15px;
	height: 3px;
	top: 0;
	left: 1px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

body.open #side-menu{
	left: 0;
}


/*---------------------------------
	Overwriting WebGl Earth stuff
---------------------------------*/

/* Markers */

.we-pm-icon{
	width: 30px !important;
	height: 30px !important;
	background-image: none !important;
	margin: -35px 0 0 -15px !important;
	border-radius: 50% 50% 50% 0;
	background: #89849b;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	box-shadow: -1px 1px 1px rgba(0,0,0,0.3)
}

.we-pm-icon:after{
	content: '';
	width: 14px;
	height: 14px;
	margin: 8px 0 0 8px;
	background: #2f2f2f;
	position: absolute;
	border-radius: 50%;
}


/* Pop Ups */

.we-pp{
	left: -95px !important;
	bottom: 35px !important;
}

.we-pp-content{
	background-color: #333;
	color: #fff;
}

.we-pp-wrapper{
	background: #333 !important;
	border-radius: 3px !important;
}

.we-pp-tip{
	background: #333 !important;
}

/*---------------------------
	Media queries
----------------------------*/

@media all and (max-width: 600px) {

	#side-menu{
		width: 240px;
		left: -240px;
	}

	.entry .color-effect{
		left:-256px;
		width: 260px;
	}

	.countryName{
		width: 100px;
	}

}