@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Questrial:400);

/*-------------------------
	Simple reset
--------------------------*/

*{
	margin:0;
	padding:0;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*-------------------------
	General styles
--------------------------*/

html, body{
	font:13px/1.35 'Montserrat', sans-serif;
}

/*-------------------------
	WebGL earth - globe
--------------------------*/

#earth_div{
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute !important;
	z-index: 1;
}

/*-------------------------
	Side menu
--------------------------*/

#side-menu{
	background: #000;
	background: rgba(0, 0, 0, 0.35);
	position: fixed;
	z-index: 2;
	left: -320px;
	top: 0;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	width: 320px;
	height: 100%;
	transition:left 0.4s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#side-menu h2{
	color: #fefefe;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 25px;
	padding-left: 4px;
}

#side-menu img {
	display: block;
	margin: 25px auto 10px;
}

/* Entries List and Organization */
#side-menu ul { 
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	width: 100%;
	height: calc(100% - 249px); 
}
#side-menu ul::-webkit-scrollbar {
	background:none;
	width:5px;
	position:absolute;2
}
#side-menu ul::-webkit-scrollbar-thumb {
	background:rgba(255,255,255,0.4);
	border-radius:5px;
	width:5px;
}

div.sidebar-header {
	height: 160px;
}

a.sidebar-footer {
	height: 60px;
}

/* Entries */
.entry{
	font-family: "Questrial", sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	list-style: none;
	height: 55px;
	color:  #ddd;
	font-size: 12px;
	line-height: 55px;
	margin-top: 5px;
	z-index: 3;
	cursor: pointer;
}

.entry.offline {
	color: rgba(255, 255, 255, 0.5);
}

.entry.highlightWhite {
	color: rgb(255, 255, 255);
}

.entry.highlightBlack {
	color: rgb(0, 0, 0);
}

.farmerId, .count{
	position: relative;
	z-index: 5;
	padding: 0 25px;
}

.farmerId {
	float:left;
	width: 180px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.count{
	float:right;
}


.entry .color-effect{
	content: '';
	background-color:  #25c19e;
	position: absolute;
	left:-320px;
	transition:left 0.4s;
	width: 323px;
	height: 55px;
	z-index: 4;
	display: none;
}

body.open #side-menu ul .entry .color-effect{
	display: block;
}

.entry:hover .color-effect{
	left:-3px;
}

/* No farmers message */

#no-farmers{
	display: none;
	color:  #fefefe;
	position: absolute;
	bottom:50%;
	text-align: center;
}


/* Summary */


.summary{
	color: #ffffff;
	font-size: 10px;
	text-align: center;
	bottom: 0;
	width: 100%;
	padding-bottom: 15px;
	font-family: "Questrial", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.summary span{
	color: #ddd;
}


/* Button */

.btn {
    display: block;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 3px solid #107fc9;	
    -webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background: #107fc9;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:hover,
.btn:active {
	color: #fff;
}

.btn:hover:after,
.btn:active:after {
	width: 100%;
}

.btn span {
	position: absolute;
	left: 25px;
}

/*---------------------------
	Side menu toggle button
----------------------------*/

#open-side-menu{
	width: 38px;
	height: 38px;
	top: 35px;
	position: absolute;
	right: -72px;
	cursor: pointer;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	background-color:  rgb(8, 122, 192);
	border-radius: 0;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
	/*You just need this if you are only concerned with android and not desktop browsers.*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body.open #open-side-menu {
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.35);
}

#animate-cross {
	transition: 0.1s;
	-webkit-transition: 0.2s;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	background-color: #ffffff;
	width: 17px;
	height: 2px;
	position: relative;
	margin: 18px auto;
}

body.open #animate-cross {
	background-color: transparent;
}

#animate-cross:before {
	content: '';
	transition: 0.2s;
	-webkit-transition: 0.2s;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	position: absolute;
	background-color: #ffffff;
	width: 17px;
	height: 2px;
	top: -7px;
	left: 0;
}

body.open #animate-cross:before {
	width: 15px;
	height: 3px;
	top: 0;
	left: 1px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

#animate-cross:after {
	content: '';
	transition: 0.2s;
	-webkit-transition: 0.2s;
	transition-delay: 0.2s;
	-webkit-transition-delay: 0.2s;
	position: absolute;
	background-color: #ffffff;
	width: 17px;
	height: 2px;
	top: 7px;
	left: 0;
}

body.open #animate-cross:after {
	width: 15px;
	height: 3px;
	top: 0;
	left: 1px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

body.open #side-menu{
	left: 0;
}


/*---------------------------------
	Overwriting WebGl Earth stuff
---------------------------------*/



/* Markers */
@-webkit-keyframes pulse {
  0%   { -webkit-transform: scale(1) rotate(-45deg);}
  50%  { -webkit-transform: scale(1.2) rotate(-45deg);}
  100% { -webkit-transform: scale(1) rotate(-45deg); }
}
@-moz-keyframes pulse {
  0%   { -moz-transform: scale(1) rotate(-45deg);}
  50%  { -moz-transform: scale(1.2) rotate(-45deg);}
  100% { -moz-transform: scale(1) rotate(-45deg);}
}
@-o-keyframes pulse {
  0%   { -o-transform: scale(1) rotate(-45deg);}
  50%  { -o-transform: scale(1.2) rotate(-45deg);}
  100% { -o-transform: scale(1) rotate(-45deg);}
}
@keyframes pulse {
  0%   { transform: scale(1) rotate(-45deg);}
  50%  { transform: scale(1.2) rotate(-45deg);}
  100% { transform: scale(1) rotate(-45deg);}
}


.we-pm-icon{
	width: 30px !important;
	height: 30px !important;
	background-image: none !important;
	margin: -35px 0 0 -15px !important;
	border-radius: 50% 50% 50% 0;
	background: #89849b;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	box-shadow: -1px 1px 1px rgba(0,0,0,0.3)
}

.we-pm-icon.beat {
	-webkit-animation: pulse 1s 1; 
	-moz-animation: pulse 1s 1; 
	-o-animation: pulse 1s 1; 
	animation: pulse 1s 1;
}

.we-pm-icon:after{
	content: '';
	width: 23px;
	height: 23px;
	margin-left: 3px;
	margin-top: 3px;
	background-image: url('../img/storj_icon.png');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.we-pm-icon.offline:after {
	opacity: 0.25;
}

.cesium-credit-text,
.cesium-credit-textContainer:before {
	opacity: 0.15;
	text-shadow: none !important;
	font-family: "Muli", sans-serif;
}

#earth_div div:first-of-type {
	right:0;
}


/* Pop Ups */

.we-pp {
	left: -160px !important;
	bottom: 35px !important;
}

.we-pp-content {
	font-family: "Questrial", sans-serif !important;
	color: #fff;
	margin: 0 !important;
}
.we-pp-content p {
	margin: 0 !important;
	line-height: 28px;
	width: 100%;
	padding: 0 15px;
	font-family: "Montserrat", sans-serif;
	color: #107fc9;
	font-size: 10px;
}

.we-pp-wrapper {
	border-radius: 0 !important;
	box-shadow: none !important;
	padding: 0 !important;
}

.we-pp-tip {
	box-shadow: none !important;
}

.we-pp-close {
	top: 19px !important;
	right: 10px !important;
}

.popup-address {
	background: #107fc9;
	padding: 10px 0;
}
.popup-address p {
	font-weight: 700;
	color: #fff;
	font-size: 10px;
	padding: 0 15px;
	letter-spacing: 0.5px;
}
.popup-info {
	padding: 10px 0;
}

/*---------------------------
	Media queries
----------------------------*/

@media all and (max-width: 600px) {

	#side-menu{
		width: 240px;
		left: -240px;
	}

	.entry .color-effect{
		left:-256px;
		width: 260px;
	}

	.farmerId {
		width: 100px;
	}

}